@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
    min-width: 1200px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.favorite-count {
    display: block;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #7DB54F;
    min-width: 20px;
    min-height: 20px;
    border-radius: 10px;
    padding: 5px 5px 5px 4px;
    position: absolute;
    top: 11px;
    right: 4px;
}

.favorite-count:hover,
.favorite-count:focus {
    color: #e6e6e6;
}

.container {
    background-color: #FFFFFF;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 0 15px 0 #00000033;
            box-shadow: 0 0 15px 0 #00000033;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.main-page {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.page-header-logo-link {
    z-index: 1;
    display: block;
    margin-right: 28px;
}

.page-header-logo {
    display: block;
}

.page-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 70px;
    height: 64px;
}

.site-navigation {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.user-menu-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    max-width: 310px;
    margin-left: auto;
}

.site-navigation-link {
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.site-navigation-link:hover {
    color: rgba(0, 0, 0, 0.6);
}

.site-navigation-link:focus {
    color: #000000;
}

.site-navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 22px 12px;
}

.user-link:hover path {
    fill: #000000;
    fill-opacity: 0.6;
}


.user-link:focus path {
  fill: #000000;
}

.user-link:active path {
  fill: #000000;
  fill-opacity: 0.3;
}


.site-navigation-link-active {
    text-decoration: underline;
    -webkit-text-decoration-color:#756257;
            text-decoration-color:#756257;
    text-underline-offset: 18px;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

.favorite {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.user-menu-list .site-navigation-link {
    min-width: 44px;
    min-height: 64px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.site-navigation-item .button-link {
    display: block;
    color: #FFFFFF;
    background-color: #756157;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    width: 160px;
    padding: 8px 34px;
    min-height: 36px;
    margin: 14px 0 14px 20px;
}


/* index page */

.image-containter {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFFFFF;
    text-align: center;
    background-image: url(../images/background-img.jpg);
    background-color: #82B3D3;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 51px;
    padding-bottom: 82px;
    margin-bottom: 69px;
}

.image-containter::before {
    position: absolute;
    width: 100%;
    height: 57px;
    bottom: 0;
    content: "";
    background-image: url(../images/polygonal.svg);
    background-repeat: no-repeat;
}


.city-preview-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: 700;
}

.city-preview {
    text-align: center;
    margin: 0 auto;
    max-width: 652px;
    margin-bottom: 90px;
}

.description-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 175px;
}

.descriptions {
    margin-bottom: 64px;
}

.description-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.description-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    text-align: center;
    min-height: 385px;
}

.reason-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.reason-item {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    min-height: 385px;
    padding: 112px 85px;
}

.description {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    text-align: center;
}

.description::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 30px auto;
    background-color: #ffffff4d;
}

.description-container {
    padding: 102px 85px;
}

.reason-description-container{
    padding: 112px 85px;
}

.description-photo {
    color: #FFFFFF;
    background-color: #82B3D3;
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}

.description-img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.item-color {
    background: #83B3D333;
}

.reason-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 175px;
}

.reason-description {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    text-align: center;
}

.reason-description::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.30);
}

.service {
    text-align: center;
    margin-bottom: 96px;
}

.service-preview-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    width: 505px;
    margin: 64px auto 20px;
}

.service-preview {
    text-align: center;
    margin: 0 auto;
    max-width: 490px;
    margin-bottom: 64px;
}

.service-title {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
    margin-top: 102px;
    margin-bottom: 30px;
    font-weight: 700;
}

.service-title::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom 0 left 50%;
    width: 80px;
    height: 80px;
    top: -71px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.service-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    max-width: 230px;
    margin: 0 auto;
}

.service-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.service-item {
    width: 400px;
    padding: 81px 85px;
    text-align: center;
}

.hotel-service .service-title::before {
    background-image: url("../images/description/house.svg");
}

.food-service .service-title::before {
    background-image: url("../images/description/food.svg");
}

.gift-service .service-title::before {
    background-image: url("../images/description/gift.svg");
}

.service-color {
    background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
    text-align: center;
}


.search-hotel-title {
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    max-width: 297px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.search-hotel-description {
    margin: 0 auto;
    max-width: 592px;
    margin-bottom: 54px;
}

.search-link {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    background: #756157;
    color: #FFFFFF;
    padding: 8px 50px;
    margin-bottom: 96px;
}

.mailing-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    max-width: 404px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.mailing-description {
    max-width: 475px;
    margin: 0 auto;
    margin-bottom: 54px;
}

.mailing {
    background-image: url("../images/subscribe.jpg");
    color: #FFFFFF;
    background-color: #82B3D3;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 96px 258px 104px 258px;
}

.number {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.number:hover,
.number:focus {
  color: #756157;
}

.number:active {
    color: rgba(117, 97, 87, 0.3);
}


.mailing-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 684px;
    margin: 0 auto;
}

.mailing-button {
    color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    width: 232px;
    border: none;
    font-weight: 700;
    padding: 8px 50px;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
}


.email-field {
    display: block;
    line-height: 24px;
    width: 100%;
    font-size: 18px;
    margin: 0;
    padding: 14px 20px;
    border: none;
    font-family: "PT Sans", sans-serif;
    border-radius: 4px 0 0 4px;
}

.email-field:hover {
    background-color: #e6e6e6;
}

.email-field:focus {
    outline: 3px solid #83b3d3;
    background-color: #e6e6e6;
    outline-offset: -3px;
}


.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 1060px;
    min-height: 120px;
    color: #000000;
    padding-top: 10px; /* Perfect Pixel */
}


.social-network-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    width: 142px;
}

.social-network-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo-academy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo-academy:hover path,
.logo-academy:focus path {
    fill: #756157;
}

.logo-academy:active path {
    fill: #7561574d;
}


.social-network-link:hover path,
.social-network-link:focus path {
    fill: #68a2ca;
}

.social-network-link:active path {
    fill: rgba(104, 162, 202, 0.3);
}

/* catalog page */

.catalog-page-title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 8px;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    line-height: 21px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 114px;
    margin-bottom: 40px;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 28px;
}

.breadcrumbs-link {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    min-width: 12px;
    min-height: 12px;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 8px;
    height: 100%;
    background-image: url(../images/filter/breadcrumb.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs-item:first-child .breadcrumbs-link::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 15px;
    top: 2px;
    background-image: url(../images/filter/home.svg);
    background-repeat: no-repeat;
    background-size: 13px 15px;
    background-position: center;
  }

  .breadcrumbs-item:last-child::before {
    content: none;
  }

.container-filter{
    background-image: url("../images/filter/background-filter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: #82B3D3;
    padding: 35px 70px 70px 70px;
    margin-bottom: 50px;
}


.filter-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 32px
}

.filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 160px;
    flex-wrap: wrap;
}


.filter-group {
    width: 150px;
    margin: 0;
    padding: 0;
    margin-right: 70px;
    border: none;
}


.sorting-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
}

.sorting-item:last-child{
    margin-bottom: 0;
}

.sorting-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 0;
}

.label-input {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.label {
    margin-left: 16px;
}


.label-input:hover,
.label-input:focus {
  opacity: 0.6;
}

.label-input:active {
  opacity: 0.3;
}

.cost {
    width: 288px;
    margin-left: auto;
}

.filter-cost-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2px;
       -moz-column-gap: 2px;
            column-gap: 2px;
    margin-bottom: 43px;
}

.filter-cost {
    width: 143px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 14px 20px 10px;
    padding-right: 40px;
    color: #000000;
    border: none;
    background-color: #f2f2f2;
}

.filter-cost:hover {
    background-color: #e6e6e6;
}

.filter-cost:focus {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.max-cost {
    border-radius: 0 4px 4px 0;
}

.input-description {
    color: #0000004d;
    font-size: 18px;
    line-height: 23px;
    position: absolute;
    max-width: 17px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
}

.min-cost {
    border-radius: 4px 0 0 4px;
}

.filter-buttons {
    width: 191px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 0;
}

.filter-input {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #ffffff;
    margin: 0;
    background-size: 0;
}

.filter-input[type="checkbox"] {
    border-radius: 4px;
}

.filter-input[type="checkbox"]:checked {
    background-image: url("../images/filter/checkbox.svg");
    background-size: 13px 10px;
    background-position: center top 5px;
    background-repeat: no-repeat;
  }

.filter-input:focus {
    outline: 3px solid #83b3d3;
}

.filter-input[type="radio"] {
    border-radius: 50%;
}

.filter-input[type="radio"]:checked {
    background-image: url("../images/filter/radio.svg");
    background-position: center;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

.cost-range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
    left: 0;
    right: 60px;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    top: -8px;
    cursor: pointer;
}

.range-toggle:active {
    outline: 3px solid #83b3d3;

}

.range-toggle:focus {
    outline: 2px solid #83b3d3;
}

.cost-range-scale {
    position: relative;
    height: 4px;
    width: 288px;
    background-color: #ffffff4d;
}


.toggle-min {
    left: 0;
}

.toggle-max {
    right: 0;
}

.button {
    width: 100%;
}

.reset {
    color: #FFFFFF;
    background-color: transparent;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 8px 50px;
}

.accept {
    color: #FFFFFF;
    background-color: #82B3D3;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
    border: none;
    border-radius: 4px;
    padding: 8px;
}

.catalog {
    padding: 0 70px;
}


.conclusion-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
}

.catalog-dropdown {
    font-size: 18px;
    line-height: 21px;
    width: 292px;
    padding: 12px 20px;
    padding-right: 52px;
    margin-right: 70px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    font-family: inherit;
    background-image: url("../images/filter/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 18px center;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}


.catalog-dropdown:hover,
.catalog-dropdown:focus {
    outline: none;
    border-color: #68a2ca;
}


.sorting-grid {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
}

.sotring-button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sorting-button-item {
    display: block;
    margin-right: 8px;
}

.sorting-button-item:last-child {
    margin-right: 0;
}

.sorting-view-button {
    position: relative;
    display: block;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    height: 48px;
    width: 48px;
}

.sorting-view-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
}

.sorting-view-button:hover {
    border-color: #000000;
}

.sorting-view-button:focus {
    border-color: #68a2ca;
}

.sorting-view-button:active {
    border-color: #000000;
}

.sorting-button-all-card .sorting-view-button::before {
    background-image: url(../images/catalog/all-card.svg);
}

.sorting-button-one-card .sorting-view-button::before {
    background-image: url(../images/catalog/one-card.svg);
}

.sorting-button-list-card .sorting-view-button::before {
    background-image: url(../images/catalog/list-card.svg);
}

.sorting-view-button-active {
    border-color: #000000;
}

.catalog-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-right: auto;
}

.hotel-name-link {
    text-decoration: none;
    color: #000000;
}

.hotel-name {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    grid-column: 1 / -1;
}

.hotel-type {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: "PT Sans", sans-serif;
    color: #333333;
    margin: 0;
}

.hotel-price {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: "PT Sans", sans-serif;
    color: #333333;
    -ms-grid-column-align: end;
        justify-self: end;
    margin: 0;
}

.hotel-img {
    display: block;
}

.hotel-img-link:hover .hotel-img,
.hotel-img-link:focus .hotel-img {
  opacity: 0.9;
}

.hotel-img-link:active .hotel-img {
  opacity: 0.6;
}

.hotel-name-link:hover,
.hotel-name-link:focus {
    color: rgb(0, 0, 0, 0.6);
}

.hotel-name-link:active {
    color: rgb(0, 0, 0, 0.3);
}

.hotel-info {
    text-decoration: none;
    background-color:  #756157;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding: 8px;
}

.hotel-rating-image{
    width: 140px;
    height: 37px;
    background-position: left center;
}

.rating-4{
    background-image: url("../images/catalog/four-stars.svg");
}

.rating-3{
    background-image: url("../images/catalog/three-stars.svg");
}

.rating-2{
    background-image: url("../images/catalog/two-stars.svg");
}


.hotel-info:hover,
.hotel-info:focus,
.search-link:hover,
.search-link:focus,
.button-link:hover,
.button-link:focus {
    background-color: #615048;

}

.hotel-info:active,
.search-link:active,
.button-link:active {
    color: #ffffff4d;
    background-color: #756157;

}

.favorite-hotel {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    border-radius: 4px;
    font-family: "PT Sans", sans-serif;
    padding: 8px;
    border: none;
}


.mailing-button:hover,
.mailing-button:focus,
.modal-find-button:hover,
.modal-find-button:focus,
.favorite-hotel:hover:not(.active),
.favorite-hotel:focus:not(.active),
.pagination-button:hover:not(.pagination-space):not(.pagination-active),
.pagination-button:focus:not(.pagination-space):not(.pagination-active),
.accept:hover,
.accept:focus {
    background-color: #68A2CA;
}

.mailing-button:active,
.modal-find-button:active,
.favorite-hotel:active:not(.active),
.pagination-button:active:not(.pagination-space):not(.pagination-active),
.accept:active {
    color: #ffffff4d;
    background-color: #68A2CA;
}


.active {
    background-color: #7DB54F;
}

.active:hover,
.active:focus {
    background-color: #6C9E42;
}

.active:active {
    color: #ffffff4d;
    background-color: #6C9E42;
}

.reset:hover {
    color: rgba(255, 255, 255, 0.6);
}

.reset:focus {
    color: #FFFFFF;
}

.reset:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 400;
    font-style: normal;
    background-color: #F2F2F2;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 8px 22px;
}

.catalog-pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    padding-bottom: 58px;
    border-top: 1px solid #e6e6e6;
}

.pagination-item {
    min-width: 60px;
    min-height: 60px;
    margin-right: 8px;
}

.pagination-item:last-child {
    margin-right: 0;
}


.pagination-button {
    display: block;
    padding: 12px 18px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82b3d3;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    height: 60px;
    width: 60px;
}


.pagination-space {
    padding: 16px 20px 8px;
    color: #000000;
    background: none;
}


.pagination-active {
    background-color: #F2F2F2;
    color: #000000;
}

.catalog-result-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 340px 20px 340px 20px 340px;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    color: #333333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.catalog-result-item {
    width: 340px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 140px 20px 140px;
    grid-template-columns: repeat(2, 140px);
    -ms-grid-rows: 212px 16px 1fr;
    grid-template-rows: 212px 1fr;
    gap: 16px 20px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    padding: 19px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.catalog-result-item > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.catalog-result-item > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.catalog-result-item > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.catalog-result-item > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.catalog-result-item {
    margin-right: 0;
}


.catalog-page .email-field {
    background-color: #f2f2f2;
}

.catalog-mailing {
    background: none;
    color:#000000;
}


/* modal window */
.modal-window {
    z-index: 2;
    width: 717px;
    border: none;
    border-radius: 30px;
    padding: 0;
    -webkit-box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
            box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 396px;
}

.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    z-index: 1;
}

.modal-background.show {
    display: block;
}

.modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 64px 70px;
}

.modal-window::-webkit-backdrop {
    background-color: rgba(242, 242, 242, 0.8);
}

.modal-window::backdrop {
    background-color: rgba(242, 242, 242, 0.8);
}

.modal-window::-webkit-backdrop {
    background-color: rgba(242, 242, 242, 0.8);
}

.modal-window-title {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 64px;
    line-height: 36px;
}

.modal-window-form {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 83px;
       -moz-column-gap: 83px;
            column-gap: 83px;
    row-gap: 23px;
    -ms-grid-columns: 247px 83px 247px;
    grid-template-columns: 247px 247px;
}

.modal-window-label {
    grid-column: 1 / -1;
    display: -ms-grid;
    display: grid;
    row-gap: 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 137px 440px;
    grid-template-columns: 137px 440px;
}

.modal-window-label-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.modal-window-input:hover,
.modal-window-input:focus {
  background-color: #e6e6e6;
}

.modal-window-input:focus-visible {
  outline: 3px solid #83b3d3;
}

.modal-window-input {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    background-image: url("../images/filter/calendar.svg");
    background-size: 16px 15px;
    background-position: top 16px right 22px;
    background-repeat: no-repeat;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.modal-window-comment {
    grid-column: 2 / -1;
    font-size: 16px;
    line-height: 21px;
    padding: 0 20px;
}

.modal-error-warning {
    color: #ff5757;
}
.people-counter-wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 127px 10px 111px;
    grid-template-columns: 127px 111px;
    gap: 10px;

}

.people-counter-inpu::-webkit-outer-spin-button,
.people-counter-inpu::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.modal-window-people-label {
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    font-size: 20px;
}

.people-counter-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #f2f2f2;
}

.modal-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
}


.modal-button:hover path {
  fill: #000000;
  fill-opacity: 1;
}

.modal-button:focus path {
  outline: 3px solid #82b3d3;
}

.modal-button:active path {
  fill: #000000;
  fill-opacity: 0.2;
}


.people-counter-input {
    padding: 0;
    line-height: 20px;
    text-align: center;
    border: none;
    background-color: transparent;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
    font-family: inherit;
    font-weight: 700;
    width: 31px;
    height: 48px;
    font-size: 18px;
}

.attention-wrapper {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 5px;
    position: relative;
    max-width: 96px;
}

.attention {
    position: absolute;
    top: 50%;
    height: 26px;
    margin-left: -2px;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    width: 26px;
}

.attention-button {
    display: block;
    padding: 7px 12px;
    border: none;
    border-radius: 50%;
    background-color: #83b3d3;
    width: 100%;
    height: 100%;
}

.attention-button:hover,
.attention-button:focus {
  background-color: #68a2ca;
}

.attention-text {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 15px;
    display: none;
    z-index: 1;
    width: 256px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: #333333;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 18px;
    padding-bottom: 23px;
    padding-left: 22px;
    color: #ffffff;
}

.attention-text:before {
    content: '';
    position:absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 19px;
    height: 9px;
    background-image: url("../images/filter/attention-arrow.svg");
    bottom: 100%;
    left: 50%;
}

.attention-button:hover + .attention-text,
.attention-button:focus + .attention-text {
  display: block;
}

.modal-find-button {
    grid-column: 1 / -1;
    margin-top: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #82B3D3;
}

.modal-cross {
    position: absolute;
    top: 64px;
    right: calc(-18px + 70px);
    width: 52px;
    height: 52px;
    padding-left: 2px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    padding-top: 3px;
}

.modal-cross:hover {
  background-color: #e6e6e6;
}

.modal-cross:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-cross:active {
  background-color: #e6e6e6;
}

.modal-cross:active svg {
    opacity: 0.3;
}
